* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 90%;
    padding: 40px;
    background: whitesmoke;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

summary {
    background: #088395;
    color: white;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
}

p {
    padding: 10px;
    background: white;
}